/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/back
 * -----------------------------------------------------------------------------
 */

.btn-back {
  display: block;
  height: 41px;
  position: absolute;
  right: $space-6x;
  top: 0;
  width: 41px;

  svg {
    @extend %is-responsive;
  }
}