/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/back
 * -----------------------------------------------------------------------------
 */

.btn-back {
  align-items: center;
  display: flex;
  height: 41px;
  position: absolute;
  right: $space-6x;
  top: 0;
  width: auto;

  svg {
    display: block;
    height: 41px;
    width: 41px;
  }

  span {
    color: $color-black;
    @include font-size($fs-menu-team);
    padding-right: $space-3x;
  }
}