/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-toggle {
  @extend %btn;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  @include font-size($fs-xs);

  span {
    display: block;
    line-height: 1 !important;
    margin-right: $space-xs;
  }

  svg {
    display: block;
    height: auto;
    margin-top: 1px;
    width: 18px;
  }

  &.is-off {
    svg.toggle-off {
      display: block;
    }
    svg.toggle-on {
      display: none;
    }
  }

  &.is-on {
    svg.toggle-off {
      display: none;
    }
    svg.toggle-on {
      display: block;
    }
  }
}