@use 'sass:color';
/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/secondary
 * -----------------------------------------------------------------------------
 */

.btn-secondary {
  @extend %btn-primary;
  background-color: color.adjust($color-grey, $lightness: -10%);
  color: $color-dark;
	&:hover {
		background-color: $color-grey;
	}
}