@use 'sass:color';
/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/tertiary
 * -----------------------------------------------------------------------------
 */

 .btn-tertiary {
  @extend %btn-primary;
  background-color: $color-dark;
  color: $color-white;
	&:hover {
		background-color: color.adjust($color-dark, $lightness: 20%);
	}
}