/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #000000;
$color-white:      #ffffff;
$color-grey:       #b9b9b9;
$color-dark:       #444444;
$color-light:      #f9f9f9;


// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

