/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .4);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '/assets/img/icons/';
$url-svg:    '../img/svg/';

/* Breakpoints
 * -------------------- */

$bp-xs:  540px;
$bp-sm:  768px;
$bp-md:  900px;
$bp-lg: 1360px; // fix0504: 1200
$bp-xl: 1920px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg  
);

/* Header
 * -------------------- */

$header-height-sm: 85px;
$header-height-md: 80px;

/* Footer
 * -------------------- */

$footer-height-md: 80px;



/* Site / Content
 * -------------------- */

$site-max-width: 1440px;
$content-max-width: 1080px;


/* Grids
 * -------------------- */

$grid-gap-sm: 10px;
$grid-gap-md: 15px;


