/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-tiny:   3px;
$space-xxs:    5px;
$space-xs:    10px;
$space-sm:    15px;
$space-md:    20px;
$space-lg:    30px;
$space-xl:    40px;
$space-mega:  50px;
$space-giga:  60px;
$space-ultra: 70px;
