/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/teams
 * -----------------------------------------------------------------------------
 */

 nav.site-menu-footer {
  display: none;
  width: 100%;
  
  @include bp-md() {
    display: block;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}