/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {

  li {
    display: block;
  }

  a:not(.btn-back) {
    @extend %anchor-underline;
    color: $color-black;
    display: block;
    @include font-size($fs-menu-main);
    padding: $space-1x 0 7px 0;
  }

  li.languages {
    align-items: center;
    color: $color-black;
    display: flex;
    @include font-size($fs-menu-main);

    a {
      background: none !important;

      &.inactive {
        color: $color-grey;
      }
    }
    
    span {
      display: block;
      margin: 0 2px;
    }
  }

}