/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/page
 * -----------------------------------------------------------------------------
 */

nav.menu-team {
  border-bottom: 1px solid $color-black;
  min-height: $header-height-sm;
  padding: $space-2x $space-3x;

  @include bp-md() {
    align-items: flex-end;
    border-bottom: none;
    display: flex;
    left: $space-6x;
    min-height: auto;
    padding: 0;
    position: fixed;
    top: $space-4x;
    width: calc(100% - #{$space-6x});
    z-index: 401;
  }

  h1 {
    display: none;
    margin: 0 !important;
    @include font-size($fs-menu-main);
    @include bp-md() {
      display: block;
    }
  }

  ul {

    &.is-grid {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: repeat(2, 1fr);
      // grid-column-gap: $space-3x;
      // grid-row-gap: 0;

      li {
        flex: 0 0 50%;

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }
        
        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 4;
        }

        &:last-of-type {
          order: 99;
        }
      }

      &.has-2 {
        li {

          &:nth-child(1) {
            order: 1;
          }
  
          &:nth-child(2) {
            order: 3;
          }
          
          &:nth-child(3) {
            order: 2;
          }
        }
      }

      @include bp-md() {
        display: flex;
        grid-template-columns: none;
        grid-gap: 0;
        flex-wrap: nowrap;

        li {
          flex: 0 0 auto;

          &:nth-child(2) {
            order: 2;
          }
          
          &:nth-child(3) {
            order: 3;
          }
        }
      }
    }

    @include bp-md() {
      display: flex;
      margin-left: $space-9x;
    }
  }

  li {


    
    @include bp-md() {
      margin-right: $space-8x;
      padding-bottom: 3px;
    }

    a {
      @include font-size($fs-menu-team);
    }
  }
}