/**
 * -----------------------------------------------------------------------------
 * File: components/icons/view
 * -----------------------------------------------------------------------------
 */

.icon-view {
  align-items: center;
  color: $color-dark;
  display: inline-flex;
  gap: 6px;
  margin-bottom: 20px;
  text-decoration: none !important;
}