/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: auto;
}


body {
	color: $color-black;
	@include font-smoothing();
	@include font-regular();
	position: relative;
}

// Scrollbars
// @include scrollbar(10px, #999);