/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: scroll;
}


body {
	color: $color-black;
	@include font-smoothing();
	@include font-regular();
	position: relative;
}

// Scrollbars
@include scrollbar(4px, #999);