/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */

%grid,
.grid {
  display: grid;
}

%content-grid,
.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  
  .span {
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
      margin-bottom: $space-md;
    }

    @include bp-sm() {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
        margin-bottom: 0;
      }
    }
  }
  @include bp-sm() {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-md;
  }

  @include bp-md() {
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: $space-lg;
  }
}
