/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  padding-top: $header-height-sm;

  @include bp-md() {
    min-height: calc(100vh - (#{$header-height-md + $footer-height-md}));
    padding-bottom: $footer-height-md;
    padding-top: $header-height-md;
    position: relative;
  }
}
