/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  color: $color-black;
  @include font-size($fs-md);
  @include font-pressura-bold();
  margin-bottom: $space-md;

  em {
    color: $color-grey;
    @include font-pressura-light();
  }

  &.is-news {
    color: $color-black;
    @include font-pressura-light();
    em {
      color: $color-black;
      @include font-size($fs-xl);
      @include font-pressura-bold();
    }

    @include bp-sm() {
      max-width: 60%;
    }
  }
}