/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('fonts/AvenirNextRegular.woff2') format('woff2'), url('fonts/AvenirNextRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}