/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsive font sizes
$fs-menu-main: (
  null: (32px,1.2),
  sm:   (32px,1.2),
  md:   (30px,1.2),
  lg:   (30px,1.2)  
);

$fs-menu-sub: (
  null: (22px,1.2),
  sm:   (22px,1.2),
  md:   (20px,1.2),
  lg:   (20px,1.2)  
);

$fs-menu-team: (
  null: (17px,1.2),
  sm:   (17px,1.2),
  md:   (20px,1.2),
  lg:   (20px,1.2)  
);

$fs-heading-md: (
  null: (22px,1.2),
  sm:   (22px,1.2),
  md:   (40px,1.2),
  lg:   (40px,1.2)  
);

$fs-heading-sm: (
  null: (22px,1.2),
  sm:   (22px,1.2),
  md:   (30px,1.2),
  lg:   (30px,1.2)  
);

$fs-body-md: (
  null: (17px,1.3),
  sm:   (17px,1.3),
  md:   (30px,1.15),
  lg:   (30px,1.15)  
);

$fs-body-sm: (
  null: (17px,1.35),
  sm:   (17px,1.35),
  md:   (25px,1.2),
  lg:   (25px,1.2)  
);

$fs-dropdown-title: (
  null: (22px,1.2),
  sm:   (22px,1.2),
  md:   (20px,1.2),
  lg:   (20px,1.2)  
);

$fs-dropdown-text: (
  null: (17px,1.2),
  sm:   (17px,1.2),
  md:   (25px,1.2),
  lg:   (25px,1.2)  
);

$fs-member-publications: (
  null: (14px,1.3),
  sm:   (14px,1.3),
  md:   (17px,1.3),
  lg:   (17px,1.3)  
);

$fs-member-credits: (
  null: (14px,1.35),
  sm:   (14px,1.35),
  md:   (20px,1.2),
  lg:   (20px,1.2)  
);

$fs-caption: (
  null: (13px,1.2),
  sm:   (13px,1.2),
  md:   (13px,1.2),
  lg:   (13px,1.2)  
);


