/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsive font sizes
$fs-xs: (
  null: (16px,1.2),
  sm:   (14px,1.2),
  md:   (16px,1.2),
  lg:   (16px,1.2)  
);

$fs-sm: (
  null: (18px,1.2),
  sm:   (16px,1.2),
  md:   (18px,1.2),
  lg:   (20px,1.2)  
);

$fs-md: (
  null: (20px,1.2),
  sm:   (20px,1.2),
  md:   (24px,1.2),
  lg:   (24px,1.2)  
);

$fs-lg: (
  null: (30px,1.2),
  sm:   (30px,1.2),
  md:   (60px,1),
  lg:   (60px,1)  
);

$fs-xl: (
  null: (60px,1),
  sm:   (80px,1),
  md:   (90px,1),
  lg:   (100px,1)  
);

// Navigation
$fs-menu-md: (
  null: (28px,1.2),
  sm:   (20px,1.2),
  md:   (24px,1.2),
  lg:   (24px,1.2)  
);

// Cards
$fs-cards-md: (
  null: (14px,1.2),
  sm:   (16px,1.2),
  md:   (24px,1.2),
  lg:   (24px,1.2)  
);

$fs-cards-lg: (
  null: (26px,1.1),
  sm:   (34px,1.1),
  md:   (60px,1),
  lg:   (60px,1)  
);