/**
 * -----------------------------------------------------------------------------
 * File: components/cards
 * -----------------------------------------------------------------------------
 */

.cards {
  margin-left: 15px;
  margin-right: 15px;

  > div {
    @extend %inner-block;
  }
}

.card {
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  position: relative;

  &[data-macy-complete$="1"] {
    opacity: 1;
  }

  figcaption {
    background-color: $color-white;
    padding: $space-xxs 0;
    width: 100%;

    @include bp-sm() {
      background-color: rgba(255, 255, 255, .9);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity .1s ease-in-out;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none !important;
    &:hover {
      figcaption {
        opacity: 1;
        transition: opacity .1s ease-in-out;
      }
    }
  }

  h2 {
    @include font-pressura-light();
  }

  em, h2 {
    color: $color-black;
  }

  img {
    @extend %is-responsive;
  }

  &.is-news {

    figcaption {
      background-color: rgba(255, 255, 255, .7);
      padding: $space-xxs $space-xs;
      @include bp-sm() {
        opacity: 1;
      }
    }

    a:hover {
      figcaption {
        @include bp-sm() {
          opacity: 0;
        }
      }
    }
    
    em {
      @include font-size($fs-cards-md);
    }
    
    h2 {
      @include font-pressura-bold();
      @include font-size($fs-cards-lg);
    }
  }
 
  &.is-shop,
  &.is-illu {
    @include font-size($fs-md);

    em {
      color: $color-grey;
    }
    figcaption {
      @include bp-sm() {
        padding: $space-xxs $space-xxs $space-xxs $space-sm;
      }
    }
  }

  &.is-shop {
    figcaption {
      @include background-default();
      background-image: url($url-icons + 'cart.svg');
      background-size: 26px auto;
      background-position: top $space-xs right $space-xxs;
    }
    @include bp-sm() {
      figcaption {
        opacity: 1;
      }
    }

    a:hover {
      figcaption {
        @include bp-sm() {
          opacity: 0;
        }
      }
    }
  }

  &.is-shop-listing {
    opacity: 1;
    
    figcaption {
      bottom: auto;
      left: auto;
      opacity: 1;
      padding: $space-xxs 0;
      position: relative;
      
      em {
        @include font-pressura-bold();
      }
    }
  }
}
