/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */

%is-responsive,
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

%is-fullheight {
  @include bp-md() {
    display: block !important;
    height: 100%;
    min-height: calc(100vh - (#{$header-height-md + $footer-height-md}));
    position: relative;
    width: 100%;
  
    img {
      display: block;
      height: 100%;
      max-width: none !important;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: inherit;
      width: 100%;
    }
  }
}

%visual,
.visual {
  img {
    @extend %is-responsive;
  }
}

.visual-mobile {
  @extend %visual;
  @include bp-md() {
    display: none;
  }
}

.visual-desktop {
  @extend %visual;
  @extend %is-fullheight;
  display: none;
}

.visual-wide {
  @extend %visual;
  @extend %is-fullheight;
}