/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */

%is-responsive,
.is-responsive {
  display: block;
  height: auto;
  //max-width: 100%;
  width: 100%;
}

%is-fullheight {
  @include bp-md() {
    display: block !important;
    height: 100%;
    min-height: calc(100vh - (#{$header-height-md + $footer-height-md}));
    position: relative;
    width: 100%;
  
    img {
      display: block;
      height: 100%;
      max-width: none !important;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: inherit;
      width: 100%;
    }
  }
}

%visual,
.visual {
  position: relative;
  
  img {
    @extend %is-responsive;
  }

  figcaption {
    background-color: $color-black;
    bottom: 0;
    color: $color-white;
    @include font-size($fs-caption);
    right: 0;
    position: absolute;
    padding: 3px $space-1x;
  }
}

.visual-mobile {
  @extend %visual;
  @include bp-md() {
    display: none;
  }
}

.visual-desktop {
  @extend %visual;
  @extend %is-fullheight;
  display: none;

  &.is-contain {
    background-color: #eee;
    img {
      object-fit: contain !important;
    }
  }

  &.is-background {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

.visual-wide {
  @extend %visual;
  @extend %is-fullheight;
}

.visual-scroller {
  @include background-default();
  background-size: 50px auto;
  background-image: url($url-icons + 'chevron-down-xl.svg');
  bottom: $space-4x;
  cursor: pointer;
  display: none;
  height: 26px;
  left: calc(50% - 25px);
  opacity: 1;
  pointer-events: all;
  position: absolute;
  transition: opacity .1s .2s ease-in;
  width: 50px;
  z-index: 20000;

  @include bp-md() {
    background-size: 70px auto;
    display: block;
    left: calc(50% - 35px);
    height: 36px;
    width: 70px;
  }
}