/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  display: block;
  max-width: 480px;
  width: 100%;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}